/Visual Only/Kernel Figures
/Visual Only/Data
/Visual Only/*.mat
/Stepper Only/Archived Kernels
/Stepper Only/Data
/Stepper Only/Kernels
/New Data
/Stepper Only/*.asv
/Visual Only/*.asv
/Experiment Code/*.asv
/Experminet Code/*.set